body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height:1.4em;
    color:#333333;
}
h1,h2,h3,h4,h5 {
    margin:1.4em 0 1.0em 0;
    line-height: 1em;
    font-weight: 600;
}

h2 {
    font-size:2.2em;
}

h3 {
    font-size:1.8em;
}

h4 {
    font-size:1.3em;
}

h5 {
    font-size:1.1em;
}

p {
    margin:0.8em 0;
}

a {

}

a:hover {

}

strong {
    font-weight: 600;
}

header {
    padding:16px 24px;
}

footer {
    padding:16px 24px;
}

section.central_container {
    max-width:900px;
    margin:0 auto;
    padding:16px 24px;
}

section.command section.option {
    padding-left:3em;
}

section.text {

}

.code {
    font-family: "Courier New",Courier,sans-serif;
    font-size:0.95em;
}
p.code {
    background-color: #E9E9E9;
    margin:0.8em 0 1.2em 0;
    padding:16px 24px;
    font-size:1em;
}


/* colors */
/*body {*/
    /*background-color: rgb(38,44,54);*/
    /*color: rgb(145,165,185);*/
/*}*/
/*a {*/
    /*!*color: rgb(208,154,102);*!*/
    /*color: rgb(240,220,120);*/
/*}*/
/*p.code {*/
    /*background-color: rgb(54,60,70);*/
/*}*/